##Q1.
Answer:
Here are the key points that make Python popular:

1. **Readability and Simplicity** – Clean, intuitive syntax.
2. **Dynamic Typing** – No need for explicit variable declarations.
3. **Interpreted Language** – Executes code line-by-line for easy debugging.
4. **Extensive Standard Library** – Built-in modules for common tasks.
5. **Cross-Platform Compatibility** – Works on various operating systems.
6. **Large Community and Ecosystem** – Vast resources, libraries, and frameworks.
7. **Supports Multiple Paradigms** – Object-oriented, procedural, functional.
8. **Integration with Other Languages** – Works with C, C++, Java, etc.
9. **Versatile Across Domains** – Web dev, data science, automation, and more.

##Q2.

Predefined keywords, sometimes referred to as reserved words, are special terms having designated meanings and functions in the Python language. These keywords are fundamental to the grammar of Python and are reserved for predefined functionalities.

some of the predefined keywords are:
1.If
2.else
3.while
4.for
5.true
6.false
7.none
8.elif
9.import
10.from
11.as

In [1]:
#for example
age=21
if age >= 18:
  print("you will be served alcohol")
else:
  print("get out from here")

you will be served alcohol

In [5]:
# example 2
weather = "sunny"
if weather == "rainy":
  print("i will sstay inside")
else:
    print("i will go to play outside")

i will go to play outside

##Q3.

Definition of **Mutable Objects**: After they are generated, mutable objects are subject to change. Their contents can be updated, added, or removed without affecting the object's identity.
Lists, dictionaries, sets, and the majority of user-defined objects are common examples.

Important characteristics:
Changes can be made to mutable objects in-place: A mutable object is something you are changing when you make changes to it.
The identification (memory address) stays the same: The original object undergoes modifications, so its ID remains unchanged.

**Immutable things**: Definition: Once formed, immutable things cannot be altered. Any attempt to change an immutable object will result in the creation of a new object as opposed to the modification of the original.
Floats, Booleans, integers, tuples, and strings are common examples.

Important characteristics:
Things that are immutable cannot be completely changed: Attempts to change them yield the creation of a new item.
The identification (memory address) shifts: Changes create a new object with a new ID because the original object cannot be changed.

In [7]:
## Mutable objects
A=['apple','banana',0,'true',9]
A[0]

'apple'

In [8]:
A[0]= 'peach'

In [11]:
A

['peach', 'banana', 0, 'true', 9]

In [12]:
## immutable objects
a="anmol"

In [13]:
a[2]

'm'

In [14]:
a[0]="b"

TypeError: 'str' object does not support item assignment

##Q4. Different types of operators:

Special keywords/symbols

In [15]:
a=3
b=5
a+b
## + is the operator

8

In [16]:
## for adding power we need to use two astric
## 3 power 6 = 3*3*3*3*3*3
## in python we can do it by
3**6

729

## two divide // gives **floor operator**
It gives lower value

In [17]:
4//3

1

## comparison operator
it compares two value and gives a boolean

In [18]:
2==2

True

##logical operator
#and
#or

#MEmbership operator

In [19]:
a="pwskills"
"p" in a

True

## Identity operators
compares the location of two variables

In [20]:
a=2
b=3
a is b

False

## Bitwise operator
binary representation of any number

In [22]:
bin(10)

'0b1010'

##Q5
Typecasting in Python refers to converting one data type into another. This process is also known as type conversion. It can be done either implicitly  or explicitly .

In [23]:
a=4
a

4

In [24]:
type(a)

int

In [25]:
b=3.4
type(b)

float

In [26]:
## change of type
int(b)

3

In [27]:
a='1'
type(a)

str

In [32]:
b=4
type(b)

int

In [33]:
##so a+b not possible

int(a)+b

5

In [34]:
## here we changed string in integer

## Q6.
Conditional statements in Python control the flow of a program by allowing you to execute different code blocks based on certain conditions. They evaluate expressions and execute the code inside the statement if the expression evaluates to True. Python provides several types of conditional statements: if, elif, and else.

In [35]:
age=21
if age >= 18:
  print("you will be served alcohol")
else:
  print("get out from here")

you will be served alcohol

In [36]:
## Multiple condititon
age=80
if age < 18:
  print("you are minor")
elif 18<age<=65:
  print("youre adult")
else:
  print("youre senior citizen")

youre senior citizen

##Q7.
Python supports two main types of loops: **for** loops and **while** loops. Both are used to execute a block of code repeatedly, but they differ in how and when they check the condition for iteration.

In [38]:
## example for while
n=7
i=1
while i < n:
  print (i)
  i=i+1

1
2
3
4
5
6

In [39]:
## example 2
count= 20
while count > 0:
  print(count)
  count = count-1

20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

In [42]:
## For example
a = [1,2, "anmol", "data"]
for i in a:
    print(i)

1
2
anmol
data